.navbar
{
    transition-duration: 0.45s;
    background-color: #009688;
    border-bottom-color: #00897b;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

.remove-color
{
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar-brand
{
    color: white !important;
    opacity: 0.89;
    transition-duration: 0.7s;
}

.navbar-brand:hover
{
    opacity: 1;
}

.navbar-default .navbar-nav > li > a
{
    color: white !important;
    opacity: 0.96;
}

.navbar-default .navbar-nav > li > a:hover
{
    opacity: 1;
}

header
{
    background-color: #0097a7;
    color: azure;
}

#welcome-box
{
    padding-top: 80px;
    padding-bottom: 130px;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    width: 400px;
    height: 400px;
    
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

#big-avatar
{
    width: 200px;
    height: 200px;
}

#small-avatar
{
    width: 150px;
    height: 150px;
}

#welcome-box > div > hr
{
    width: 30%;
}

#abilities
{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #ff7043;
    color: white;
    
    box-shadow: inset 0 -15px 20px -15px rgba(0,0,0,0.5), inset 0 15px 20px -15px rgba(0,0,0,0.5);
}

#about
{
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    
    background-color: #1565c0;
}

#about-content > h3
{
    width: 20%;
    height: 40px;
    border-bottom: 1.5px solid white;
}

#about-content > p
{
    font-size: 17px;
    clear: both;
}

footer
{
    padding-top: 20px;
    padding-bottom: 25px;
    color: #fff;
    
    background-color: #0097a7;
    
    text-align: center;
}

footer > h5
{
    font-size: 17px;
}

@media (max-width: 768px)
{
    #welcome-box
    {
        width: 200px;
        height: 300px;
    }
}