.slider
{
    padding-top: 10px;
    margin-bottom: 20px;
    
    width: 90%;
    height: 550px;
    
    margin-left: auto;
    margin-right: auto;
}

.slides
{
    height: 500px;
}

.slide
{
    max-height: 550px;
}

.device
{
    float: left;
    max-height: 550px;
    
    padding-left: 50px;
}

.device > img
{
    max-width: 540px;
    max-height: 540px;
}

.description
{
    float: right;
    
    max-width: 40%;
    max-height: 550px;
    padding-right: 20px;
    
    text-align: right;
}

.slider-content
{
    opacity: 0.84;
    font-size: 17px;
    max-width: 
}

.slider-content > ul
{
    list-style-type: none;
}

.slider-end
{
    clear: both;
}

.dots
{
    text-align: center;
    margin-top: 15px;
    max-width: 660px; /* for  below IE7 use `width: 660px;` */
    margin-left: auto;
    margin-right: auto;
}

.dots > ul
{
    list-style-type: none;
    display: inline-block;
}

.dots > ul > li
{
    padding: 5px;
    float: left;
}

.dots > ul > li > a
{
    color: white !important;
    opacity: 0.4;
    transition-duration: 0.6s;
}

.dots > ul > li > a:hover
{
    cursor: pointer;
}

@media (max-width: 768px)
{
    .device
    {
        display: none;
        clear: both;
    }
    
    .description
    {
        float:none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0px;
    }
    
    .slider-content
    {
        text-align: center;
        font-size: 15px;
    }
    
    .slider
    {
        height: 290px;
    }
    
    .slides
    {
        height: 270px;
    }
}
